body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  color: #40514E;
  font-size: 1rem;
}

h1 {
  margin: 40 auto 0 auto;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: #66BFBF;
  font-size: 5.625rem;
  line-height: 0.5;
}

h2 {
  font-family: 'Oxygen', sans-serif;
  font-size: 2.5rem;
  color: #0d7377;
  font-weight: normal;
  text-align: center;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Oxygen', sans-serif;
  color: #66BFBF;
  font-weight: normal;
}

hr {
  border: dotted #66BFBF 5px;
  border-bottom: none;
  width: 7%;
  margin: 150 auto 100 auto;
}

p {
  line-height: 1.8;
}

.top-container {
  width: 100%;
  height: 630px;
  margin: 0 auto;
  background-color: #0d7377;
  padding-top: 50px;
  position: relative;
  padding-bottom: 300px;
}

.img-carousel-container {
  width: 90%;
  height: 580px;
  max-width: 1000px;
  margin: auto;
  user-select: none;
  box-shadow: 0px 0px 3px 1px #00000078;
  padding: 10px;
  box-sizing: border-box;
}

.carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
}

.slide img {
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
  height: 10%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.nav .dot {
  background: rgba(255, 255, 255, 0.3);
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 8px 10px;
  cursor: pointer;
  display: inline-block;
}

.dot.active {
  background: rgba(255, 255, 255, 1);
}


.img-carousel-container .carousel .left-btn,.img-carousel-container .carousel .right-btn{
  width: 50px;
  background: #00000036;
  position: absolute;
  left: 0px;
  z-index: 1;
  transition: background 0.5s;
  height: 72px;
  top: 50%;
  transform: translateY(-50%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.img-carousel-container .carousel .right-btn{
  left: auto;
right: 0px;
position: absolute;
z-index: 1;
background: #00000036;
height: 72px;
width: 50px;
top: 50%;
transform: translateY(-50%);
transition: background 0.5s;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}
.img-carousel-container .carousel .left-btn:hover,.img-carousel-container .carousel .right-btn:hover{
    background: #000000a8;
    cursor: pointer;
}


.img-carousel-container .moveCurrentSlideLeft{
    animation-name: moveCurrentSlideLeft;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;

}
.img-carousel-container .moveNextSlideLeft{
    animation-name: moveNextLeft;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
@keyframes moveCurrentSlideLeft {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: -100%;opacity: 1;}
}
@keyframes moveNextLeft {
    from {margin-left: 100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}
}


.img-carousel-container .moveCurrentSlideRight{
    animation-name: moveCurrentSlideRight;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
.img-carousel-container .movePrevSlideRight{
    animation-name: movePrevRight;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
@keyframes moveCurrentSlideRight {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: 100%;opacity: 1;}
}
@keyframes movePrevRight {
    from {margin-left: -100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}
}

.introduction {
  width: 25%;
  margin: auto;
  color: #e4f9f5;
}


.left-btn {
  width: 50px;
  background: #00000036;
  position: absolute;
  left: 0px;
  z-index: 1;
  transition: background 0.5s;
  height: 72px;
  top: 50%;
  transform: translateY(-50%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.right-btn {
  left: auto;
  right: 0px;
  position: absolute;
  z-index: 1;
  background: #00000036;
  height: 72px;
  width: 50px;
  top: 50%;
  transform: translateY(-50%);
  transition: background 0.5s;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.left-btn:hover, .right-btn:hover {
  background: #000000a8;
  cursor: pointer;
}

.img-carousel-container .carousel #playPause {
  width: 32px;
  height: 32px;
  position: absolute;
  background-image: url(./../images/playPause.png);
  background-repeat: no-repeat;
  z-index: 5;
  background-size: cover;
  margin: 5px;
  cursor: pointer;
}

.middle-container {
  margin: auto;
  background-color: #e4f9f5;
  padding-bottom: 50px;
}

.about-me {
  margin-bottom: -2px;
}

.background-coding {
  width: 70%;
  margin: 80px auto 80px auto;
  text-align: left;
}

.founders-and-coders {
  width: 50%;
  margin: 80px auto 80px auto;
  text-align: left;
}

.bottom-container {
  background-color: #0d7377;
  padding: 40px 0px 20px 0;
}

.meditating {
  width: 50%;
  float: right;
  margin-top: -50px;
}

.coding {
  width: 30%;
  float: left;
  margin-right: 35px;
}

.button {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  font-weight: 100;
  padding: 40px;
  box-shadow: 1px 1px 20px 0px #000000;
  -webkit-box-shadow: 1px 1px 20px 0px #000000;
  -moz-box-shadow: 1px 1px 20px 0px #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin: 10px 20px;
}

.button:hover {
  border: solid #337FED 1px;
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
