body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  color: #40514E;
  font-size: 1rem;
}

h1 {
  margin: 40 auto 0 auto;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: #66BFBF;
  font-size: 5.625rem;
  line-height: 0.5;
}

h2 {
  font-family: 'Oxygen', sans-serif;
  font-size: 2.5rem;
  color: #0d7377;
  font-weight: normal;
  text-align: center;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Oxygen', sans-serif;
  color: #e4f9f5;
  font-weight: normal;
}

hr {
  border: dotted #66BFBF 5px;
  border-bottom: none;
  width: 7%;
  margin: 150 auto 100 auto;
}

p {
  line-height: 1.8;
}

.top-container {
  width: 100%;
  height: 630px;
  margin: 0 auto;
  background-color: #0d7377;
  padding-top: 50px;
  position: relative;
  padding-bottom: 300px;
}

.img-carousel-container {
  width: 70%;
  height: 600px;
  max-width: 1000px;
  margin: auto;
  user-select: none;
  box-shadow: 0 0 3px 1px #00000078;
  padding: 10px;
  box-sizing: border-box;
}

.carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}

.slide img {
  width: 100%;
  height: 100%;
}

.left-btn, .right-btn {
  width: 50px;
  background: #00000036;
  position: absolute;
  left: 0;
  z-index: 1;
  transition: background 0.5s;
  height: 72px;
  top: 50%;
  transform: translateY(-50%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.right-btn {
  left: auto;
  right: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.right-btn:hover {
  background: #000000a8;
  cursor: pointer;
}

.img-carousel-container .moveCurrentSlideLeft {
  animation-name: moveCurrentSlideLeftAnim;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.img-carousel-container .moveNextSlideLeft {
  animation-name: moveNextSlideLeftAnim;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes moveCurrentSlideLeftAnim {
  from {
    margin-left: 0;
    opacity: 1;
  }

  to {
    margin-left: -100%;
    opacity: 1;
  }
}

@keyframes moveNextSlideLeftAnim {
  from {
    margin-left: 100%;
    opacity: 1;
  }

  to {
    margin-left: 0;
    opacity: 1;
  }
}

.img-carousel-container .moveCurrentSlideRight {
  animation-name: moveCurrentSlideRightAnim;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.img-carousel-container .movePrevSlideRight {
  animation-name: movePrevSlideRightAnim;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes moveCurrentSlideRightAnim {
  from {
    margin-left: 0;
    opacity: 1;
  }

  to {
    margin-left: 100%;
    opacity: 1;
  }
}

@keyframes movePrevSlideRightAnim {
  from {
    margin-left: -100%;
    opacity: 1;
  }

  to {
    margin-left: 0;
    opacity: 1;
  }
}


.left-btn:hover, .right-btn:hover {
  cursor: pointer;
}

.img-carousel-container .carousel #playPause {
  width: 64px;
  height: 64px;
  position: absolute;
  background-image: url(./../images/playPause.png);
  background-repeat: no-repeat;
  z-index: 5;
  background-size: cover;
  margin: 5px;
  cursor: pointer;
}

.middle-container {
  margin: auto;
  background-color: #e4f9f5;
  padding-bottom: 50px;
}

.introduction {
  margin-bottom: 70px;
}

.about-me {
  margin-bottom: -40px;
}

.meditating-img {
  width: 50%;
  float: right;
  margin-top: -50px;
}

.my-background {
  width: 70%;
  margin: 80px auto 80px auto;
  text-align: left;
}

.coding-img {
  width: 35%;
  float: left;
  margin-right: 35px;
  margin-top: 90px;
}

.founders-and-coders {
  width: 50%;
  margin: 80px auto 80px auto;
  text-align: left;
}

.bottom-container {
  background-color: #0d7377;
  padding: 40px 0 20px 0;
}

.coding-portfolio-links {
  color:  #e4f9f5;
  font-size: 0.9rem;
}

.button {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  font-weight: 100;
  padding: 40px;
  box-shadow: 1px 1px 20px 0 #000000;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin: 10px 20px;
}

.button:hover {
  border: solid #337FED 1px;
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
